*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("bg.jpeg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.taskbar{
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.right{
    position: absolute;
    right: 0;
    height: 40px;
    /* margin: 6px 0; */
}

.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
}

.startmenu img{
    border-radius: 12px;
    height: 70vh;
}